:root {
  --page-sub-title-font-size: 1.2rem;
}
.navbar-brand {
  font-size: 1rem;
}
.page-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.navbar-default {
  border-bottom: 1px solid #dadada;
  background-color: #fafafa;
}
a {
  color: #0044a0;
}
.additional {
  color: #aaa;
  font-size: small;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}